<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Induk Pedagang Pasar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-tabs>
        <!-- Tab bar -->
      <ion-tab-bar slot="top">
        <ion-tab-button tab="account">
          <ion-icon name="albums"></ion-icon>
          Data KTHP
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person"></ion-icon>
          Registrasi
        </ion-tab-button>
        <ion-tab-button tab="contact">
          <ion-icon name="trail-sign"></ion-icon>
          Mutasi
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="create"></ion-icon>
          Angsuran
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-item>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">No.</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">No. KTHP</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">No. Bedak</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Jenis</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Kode Pedagang</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Nama Pedagang</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Listrik</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">Dagangan</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let idx = index;" [class.bg-gray-100]="idx % 2 === 0" class="hover:bg-gray-200 cursor-default">
                <td>{{idx + 1}}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">{{ item.no_kthp }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">{{ item.no_bedak }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.nama_bedak }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">{{ item.kd_pedagang }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.nama_pedagang }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">{{ item.listrik }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.dagangan }}</td>
              </tr>
              <tr *ngIf="(data)?.length == 0">
                <td colspan="8" class="px-4 py-2 text-center text-gray-700">No Data Available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>No. KTHP</th>
        <th>No. Bedak</th>
        <th>Nama Bedak</th>
        <th>Kode Pedagang</th>
        <th>Nama Pedagang</th>
        <th>Listrik</th>
        <th>Dagangan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.no_kthp }}</td>
        <td>{{ item.no_bedak }}</td>
        <td>{{ item.nama_bedak }}</td>
        <td>{{ item.kd_pedagang }}</td>
        <td>{{ item.nama_pedagang }}</td>
        <td>{{ item.listrik }}</td>
        <td>{{ item.dagangan }}</td>
      </tr>
    </tbody>
  </table> -->
</ion-content>
