table {
    width:100%;
    border-collapse: collapse;
    margin: 16px 0;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    margin-left: 16px;
    margin-right: 16px;
    scroll-behavior: auto;
  }