<ion-header>
  <ion-toolbar>
    <ion-title>bedak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">No. KTHP</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">No. Bedak</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nama Bedak</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Kode Pedagang</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nama Pedagang</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Listrik</th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Dagangan</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-100 border-b" *ngFor="let item of data">
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.no_kthp }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.no_bedak }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.nama_bedak }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.kd_pedagang }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.nama_pedagang }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.listrik }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ item.dagangan }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>No. KTHP</th>
        <th>No. Bedak</th>
        <th>Nama Bedak</th>
        <th>Kode Pedagang</th>
        <th>Nama Pedagang</th>
        <th>Listrik</th>
        <th>Dagangan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.no_kthp }}</td>
        <td>{{ item.no_bedak }}</td>
        <td>{{ item.nama_bedak }}</td>
        <td>{{ item.kd_pedagang }}</td>
        <td>{{ item.nama_pedagang }}</td>
        <td>{{ item.listrik }}</td>
        <td>{{ item.dagangan }}</td>
      </tr>
    </tbody>
  </table> -->
</ion-content>
