<ion-header>
  <ion-toolbar>
    <ion-title>bedak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="datatabel">
  <table>
    <thead>
      <tr>
        <th>No. KTHP</th>
        <th>No. Bedak</th>
        <th>Nama Bedak</th>
        <th>Kode Pedagang</th>
        <th>Nama Pedagang</th>
        <th>Listrik</th>
        <th>Dagangan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.no_kthp }}</td>
        <td>{{ item.no_bedak }}</td>
        <td>{{ item.nama_bedak }}</td>
        <td>{{ item.kd_pedagang }}</td>
        <td>{{ item.nama_pedagang }}</td>
        <td>{{ item.listrik }}</td>
        <td>{{ item.dagangan }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
