
table {
    width:98%;
    border-collapse: collapse;
    margin: 16px 0;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    margin-left: 16px;
    margin-right: 16px;
    scroll-behavior: auto;
  }
  
  thead {
    background-color: #F7F7F7;
    size: small;
  }
  
  thead th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    size: small;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    size: small;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:justify;
  }
  
  tbody td:hover {
    background-color: #e6f7ff;
    cursor: pointer;
  }
  ion-button{
    fill: solid;
    size: default; 
    //width: 150px;
  }