<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Induk Pedagang Pasar</ion-title>
    
  
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
 
 <ion-item>
  <ion-tabs>
      <!-- Tab bar -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="account">
        <ion-icon name="albums"></ion-icon>
        Data KTHP
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        Registrasi
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="trail-sign"></ion-icon>
        Mutasi
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="create"></ion-icon>
        Angsuran
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-item>   
<ion-card id="datatabel">


    <table >
    <thead>
      <tr>
        <th>No</th>
        <th>Kode</th>
        <th>No. KTHP</th>
        <th>Nama Pedagang</th>
        <th>Alamat</th>
        <th>Dagangan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td>1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td>2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td align="center">1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td align="center">2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td align="center">1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td align="center">2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td align="center">1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td align="center">2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td align="center">1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td align="center">2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
      <tr>
        <td align="center">1</td>
        <td>A 1</td>
        <td>05.06.00001</td>
        <td>John Doe</td>
        <td>Jakarta</td>
        <td>Pracangan</td>
      </tr>
      <tr>
        <td align="center">2</td>
        <td>A 2</td>
        <td>05.06.00002</td>
        <td>Mas Doe</td>
        <td>Bandung</td>
        <td>Abrak</td>
      </tr>
    </tbody>
  </table>

  
  </ion-card>
</ion-content>
